.root
{
    -fx-alignment: bottom;
    -fx-background-color: linear-gradient(to top left, #6f969c, #d19ba4);
    -fx-font-family: "Open Sans Condensed", sans-serif;
    -fx-font-size: 12;
}


.button
{
    -fx-background-color: rgba(255, 255,255,0);

    -fx-border-color: white;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-width: 1px;

    -fx-text-fill: white;

    transition: all 1s;
}

.button:hover, .button:focused, .text-field:focused
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0.5, 0, 0);
    -fx-background-color: rgba(255, 255,255,0.3);
}

.button:pressed
{
    -fx-background-color: rgba(255, 255,255,0.4);
}

.text-field
{
    -fx-background-color: rgba(255, 255,255,0);
    -fx-max-width: 1000px;
    -fx-border-color: white;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-width: 1px;
    -fx-alignment: center;
    -fx-text-fill: white;
}









